@model TesteConsultaCep.Models.CepBD

@{
    ViewData["Title"] = "Details";
}

<h1>Cadastro realizado com sucesso!</h1>

<div>
    <h4>@Model.CEP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ibge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ibge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
